*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: slategrey;
}
.d-flex{
    display: flex;
}
.tabs-container, .lbl-menu,
.radio-1, .radio-2, .radio-3, 
.radio-4{
    display: flex;
}
.radio-1, .radio-2, .radio-3, .radio-4{
    justify-content: center;
}
.lbl-menu{
    flex-direction: column;
    width: 28%;
}
.tabs-container{
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 100px;
}
.lbl-menu{
    background-color: #22577A;
}
.titulo-menu, .lbl-menu label{
    display: inline-block;
    padding: 13px;
    margin: 7px 12px -1px 0px;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease;
    border-radius: 0px 30px 30px 0px;
}
.titulo-menu{
    font-weight: bold;
}
.lbl-menu label:hover{
    background-color: #38A3A5;
}
.content{
    position: relative;
}
.lbl-menu, .content div{
    height: 350px;
}
.content div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    padding: 30px;
    background: #fff;
    padding-bottom: 40px;
    width: 512px;
}
#radio-1, #radio-2, #radio-3, #radio-4{
    display: none;
}
#radio-1:checked ~ .tab-1,
#radio-2:checked ~ .tab-2,
#radio-3:checked ~ .tab-3,
#radio-4:checked ~ .tab-4
{
    opacity: 1;
    visibility: visible;
}
.content div:after{ /* Indicador para el tab */
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: 100%;
    top: 70px;
}
.content .tab-2:after{
    top: 120px;
}
.content .tab-3:after{
    top: 168px;
}
.content .tab-4:after{
    top: 222px;
}
.lbl-tab{
    margin-left: 5px !important;
}
.lbl-icon{
    font-size: 13px;
    margin: 0 5px;
}
/* Color para el label añadido mediante jquery */
.bg-colorlbl{
    background-color: #38A3A5;
}
